.vscode/**
.gitignore
.vscode-test/**
out/**
src/**
backend/**
frontend/**
node_modules/**
src/frontend/webview-ui/node_modules/**
src/frontend/webview-ui/src/**
webpack.config.js
tsconfig.json
vsc-extension-quickstart.md
CHANGELOG.md
repository/**
.git/**
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
